@import url("estilo.css"); 

:root {
   --color-fondo-principal: #000000; 
    --color-texto-principal: yellow; 
    --color-fondo-encabezado: #001f4d;
    --color-encabezado: #ffffff; 
    --color-enlace: #d4a600; 
    --color-hover-enlace: #ff99cc; 
    --color-fondo-indice: #003366; 
    --color-negro: #000000; 
    --color-fondo-aside: #333333; 
    --color-fondo-footer: #000000;
    --color-gris-claro: #ffffff; 
    --color-blanco: #000000; 
    --color-fondo-formulario: #222222; 
    --color-boton-submit: #00ff00; 
    --color-blanco-article: #000; 
    --color-fila-impar: #444444; 
    --color-fila-par: #666666; 
    --color-hover-tabla: blue; 
	--color-blanco-footer:#e0e0e0;

}

img{
    filter: invert(1);
}