@import url("css_articulos.css");

:root {
	--color-fondo-encabezado: #000000;
     --color-fondo-primario: #000000; 
    --color-texto-primario: #ffffff; 
    --color-fondo-cuerpo: #333333; 
    --color-texto-parrafo: #ffffff;
    --color-enlace: #ffcc00;
    --color-outline-hover: #ffcc00; 
    --color-fondo-footer: #003369;
    --color-texto-footer: #ffffff; 
}

figure{
    filter: invert(1);
}
