html,body {
height:100%;
margin:0
}

body {
display:flex;
flex-direction:column
}

main {
flex:1
}

header {
  background-color: #cfe7ff; /* Fondo claro */
  text-align: center;  
  
}
header div{
	text-align:left;
	margin:10px;
	
}

header a{
	color:black;
	
}



header h1, header img {
  text-align: center;
}


body {
font-family:Arial,Helvetica,sans-serif;
font-size:18px;
line-height:1.5;
background-color:#f0f0f0;
color:#333;
margin:0;
padding:10px
}

p {
margin-top:5px;
margin-bottom:20px;
color: #000000;
}

h1,h2,h3 {
font-family:"Georgia",Helvetica,sans-serif;
color:#003369;
margin-bottom:10px;
margin-top:20px
}

a {
color:#1a73e8;
text-decoration:none
}

a:focus,a:hover {
color:purple;
text-decoration:underline;
outline:3px solid #fc0
}

ul {
list-style-type:square
}





.centrar {
text-align:center
}

.indice {
display:flex;
justify-content:space-between;
align-items:left;
background-color:#e7f3ff;
border:1px solid #ccc;
border-radius:10px;
list-style-type:none;
margin:0;
padding:0
}

.indice li {
margin:5px;
padding:5px;
}

.indice a {
color:#036;
padding: 8px;
border-radius:4px
}

.indice a:hover,.indice a:focus {
background-color:#b3d7ff;
outline:none
}


table {
table-layout:fixed;
width:100%
}

.medicamento thead th:nth-child(1) {
width:10%
}

.medicamento thead th:nth-child(2) {
width:15%
}

.medicamento thead th:nth-child(3) {
width:20%
}

.medicamento thead th:nth-child(5) {
width:15%
}

thead th:nth-child(1) {
width:13%
}

thead th:nth-child(2) {
width:30%
}

thead th:nth-child(3) {
width:25%
}

th,td {
padding:20px;
text-align:center
}

table,tr,th,td {
border-collapse:collapse;
border:3px solid #369
}

thead th,tfoot th,caption {
font-family:Arial,Helvetica,sans-serif
}

caption {
font-variant:small-caps
}

th {
background-color:#007bff;
color:#fff
}

tbody tr:nth-child(odd) {
background-color:#cce7ff
}

tbody tr:nth-child(even) {
background-color:#b3d9ff
}

tbody tr:hover {
background-color:#f0f0f0
}


aside {
background-color:#E6E6FA;
padding:20px;
margin-top:40px;
margin-bottom:20px;
border:1px solid #ccc;
border-radius:20px
}

aside h2 {
text-align:center;
margin-bottom:20px;
margin-top:10px
}

aside article {
flex:1;
padding:10px;
background-color:#fff;
border:1px solid #ccc;
border-radius:5px
}

aside .dividir-articulos {
display:flex;
justify-content:space-between;
gap:20px
}


footer {
background-color:#336699;
padding:15px;
text-align:center;
font-size:14px
}

footer a {
color:#fff;
font-size:14px;
text-decoration:underline;
outline:none
}

footer a:hover {
color: #000; 
}


footer p{
	color:#fff;
}
	









.indice {
display:flex;
justify-content:space-between;
align-items:left;
background-color:#fff;
border:1px solid #ccc;
border-radius:10px;
list-style-type:none;
margin:0;
padding:0;
margin-bottom:20px
}

.indice li {
margin:5px;
padding:5px;
}

.indice a {
color:#1a73e8;
text-decoration:none;

}

.indice a:hover,.indice a:focus {
color:purple;
text-decoration:underline;
outline:3px solid #fc0;
background-color: transparent;
}



article {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
}

section {
    flex: 0 1 calc(50% - 10px); 
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 10px; 
    box-sizing: border-box;
	margin-bottom:20px;
}
