@import url("estilo.css");
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 2em !important;
}

input[type="submit"],
input[type="reset"],
button {
    font-size: 1.01em;
}

input::placeholder,
textarea::placeholder {
    font-size: 1.5em;
}

select {
    font-size: 1.01em;
}

input[type="date"] {
    font-size: 1.01em;
}

:root {
    --color-fondo-principal: #000000;
    --color-texto-principal: yellow;
    --color-fondo-encabezado: #001f4d;
    --color-encabezado: #ffffff;
    --color-enlace: #d4a600;
    --color-hover-enlace: #ff99cc;
    --color-fondo-indice: #003366;
    --color-negro: #000000;
    --color-fondo-aside: #333333;
    --color-fondo-footer: #000000;
    --color-gris-claro: #ffffff;
    --color-blanco: #000000;
    --color-fondo-formulario: #222222;
    --color-boton-submit: #00ff00;
    --color-blanco-article: #000000;
    --color-fila-impar: #444444;
    --color-fila-par: #666666;
    --color-hover-tabla: blue;
    --color-blanco-footer: #e0e0e0;
}

body {
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-principal);
}

header {
    background-color: var(--color-fondo-encabezado);
    color: var(--color-encabezado);
}

a {
    color: var(--color-enlace);
}

a:hover {
    color: var(--color-hover-enlace);
}

aside {
    background-color: var(--color-fondo-aside);
}

footer {
    background-color: var(--color-fondo-footer);
    color: var(--color-blanco-footer);
}

img{
    filter: invert(1);
}