/* Estilos para impresión */
@media print {
    /* General */
    body {
        background: white;
        color: black;
        font-family: Georgia, serif;
        font-size: 12pt; /* Aumentar tamaño de fuente */
        line-height: 1.4; /* Mejora la legibilidad */
    }
	
	#skip a {
        display: none; /* Oculta el enlace en la impresión */
    }

    /* Enlaces */
    a {
        color: blue;
        text-decoration: underline;
    }

    a::after {
        content: " (" attr(href) ")"; /* Mostrar URL al lado del enlace */
        font-size: 10pt;  /* Reduce tamaño de fuente de URLs */
        color: gray;
    }

    /* Títulos */
    h1, h2, h3 {
        color: black;
        font-family: Georgia, serif;
        text-align: left; /* Cambiar a alineación izquierda */
        margin: 0; /* Eliminar márgenes */
        padding: 5px 0; /* Añadir espacio entre títulos */
    }

    /* Ajustar márgenes */
    section, p {
        margin: 5px;  /* Aumentar márgenes ligeramente */
        page-break-inside: avoid; /* Evitar saltos de página dentro de secciones */
    }
	
	aside {
		margin: 5px;
        position: relative; /* Permite el uso de top y margenes */
        margin-top: -1000px; /* Mueve el aside hacia arriba */
        margin-bottom: 20px; /* Espacio abajo */
         /* Evitar que se divida entre páginas */
    }

    /* Imágenes */
    img {
        max-width: 100%;
        height: auto;
        filter: grayscale(100%);
        page-break-inside: avoid; /* Evitar saltos de página dentro de imágenes */
    }

    /* Iconos */
    .icono, .icono i, img[src*="icon"], svg {
        filter: grayscale(100%);
        fill: black;
        color: black;
    }

    /* Tablas */
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 10px 0; /* Añadir margen para separación */
    }

    th, td {
        padding: 8px;  /* Aumentar padding para mejor lectura */
        border: 1px solid black;
        text-align: left; /* Alinear contenido a la izquierda */
    }

    th {
        background-color: black;
        color: white;
    }

    tbody tr:nth-child(odd) {
        background-color: #f2f2f2; /* Color alternativo para filas */
    }

    tbody tr:nth-child(even) {
        background-color: white;
    }

    /* Márgenes de página */
    @page {
        size: auto; /* Mantener el tamaño automático */
        margin: 1cm; /* Ajustar márgenes para evitar corte */
    }

    /* Ocultar navegación */
    nav, .navbar, .menu, #menu {
        display: none;  /* Oculta todos los elementos de navegación */
    }

    /* Ajustar pie de página */
    body::after {
        content: "© 2024 Tu Sitio Web. Todos los derechos reservados.";
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 10pt; /* Aumentar el tamaño de fuente del pie de página */
    }
}
